##
## This file is maintained by Ansible - CHANGES WILL BE OVERWRITTEN
##
server {
  listen 80;
  server_name {{ domain }};
  client_max_body_size 32M;
  passenger_enabled on;
  passenger_ruby {{ decidim_home }}/.rbenv/shims/ruby;
  rails_env {{ deployment_environment }};
  root {{ decidim_home }}/{{ decidim_app_dir }}/public;
  limit_req zone=one burst=10;

  # Bad Bot Blocker
  include /etc/nginx/bots.d/ddos.conf;
  include /etc/nginx/bots.d/blockbots.conf;

{% if ssl_cert_install %}
    listen 443 ssl http2;
    ssl_certificate /etc/nginx/ssl/{{ domain }}/fullchain.pem;
    ssl_certificate_key /etc/nginx/ssl/{{ domain }}/privkey.pem;
    include /etc/nginx/options-ssl-nginx.conf;
    ssl_dhparam /etc/nginx/ssl/ssl-dhparams.pem;
{% endif %}

}
