---
# override common settings variables here

complete_install: false

timezone: Europe/Stockholm

decidim_app_dir: decidim-sweden
decidim_app_repo: https://github.com/digidemlab/decidim-sweden.git
decidim_app_branch: master

domain: your-decidim.org  # important for letsencrypt
decidim_app_name: decidim-sweden

decidim_mailer_sender: do-not-reply@your-decidim.org
decidim_admin_email: system@example.org
decidim_admin_password: decidim123456

ruby_major_version: '2.7'
ruby_minor_version: '7'

# email
smtp_username: do-not-reply@your-decidim.org
smtp_password: your_smtp_password
smtp_address: smtp.example.org
smtp_domain: your-decidim.org
smtp_port: 587
smtp_starttls_auto: "true"

# clamav
use_decidim_antivirus: true

# use custom SSL certificate
ssl_cert_install: false

# use Let's encrypt certificate
letsencrypt_install: true
letsencrypt_admin_email: system@example.org

# Here maps
here_api_key:

# Sentry
set_up_error_tracking: false
sentry_token:

# Hetzner token
set_up_server: true
hetzner_token:
hetzner_server_type: cx21
hetzner_backups: no

# Gandi
set_up_domain_name: false
production_api_key:

# Matomo
set_up_analytics: true
matomo_server_address: https://matomo.example.org/
matomo_write_token:
matomo_view_token:

# Maxmind GeoIP2
account_id: XXXXXX
license_key: XXXXXXXXXXXXXXX
