---
# Override common settings variables here.
# All available settings can be found in roles/common_settings/default/main.yml

# Repository for Decidim installation
decidim_app_repo: https://github.com/digidemlab/decidim-sweden.git
decidim_app_branch: install-goteborg

# Name and domain
app_name: dev
parent_domain: demokratiskastader.se
sub_domain: dev
decidim_organisation_name: Decidim

# Notification email address
decidim_mailer_sender: do-not-reply@your-decidim.org

# First administrators account
decidim_admin_email: system@example.org
decidim_admin_password: decidim123456

# Outgoing email settings
smtp_username: do-not-reply@your-decidim.org
smtp_password: your_smtp_password
smtp_address: smtp.example.org
smtp_domain: your-decidim.org
smtp_port: 587
smtp_starttls_auto: "true"

# Let's encrypt certificate for https
letsencrypt_install: true
letsencrypt_admin_email: system@example.org

# HERE maps api key
here_api_key:

# Matomo settings
set_up_analytics: false
matomo_server_address: https://matomo.example.org/
matomo_view_token:
matomo_site_id:

# Maxmind GeoIP2 settings
set_up_geoip: true
account_id: XXXXXX
license_key: XXXXXXXXXXXXXXX
